[submodule "emacs.d/external/magit-filenotify"]
    path = emacs.d/external/magit-filenotify
    url = https://github.com/magit/magit-filenotify.git
[submodule "emacs.d/external/Highlight-Indentation-for-Emacs"]
    path = emacs.d/external/Highlight-Indentation-for-Emacs
    url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "emacs.d/external/auto-complete"]
    path = emacs.d/external/auto-complete
    url = https://github.com/auto-complete/auto-complete.git
[submodule "emacs.d/external/elpy"]
    path = emacs.d/external/elpy
    url = https://github.com/jorgenschaefer/elpy.git
[submodule "emacs.d/external/emacs-ctable"]
    path = emacs.d/external/emacs-ctable
    url = https://github.com/kiwanami/emacs-ctable.git
[submodule "emacs.d/external/emacs-deferred"]
    path = emacs.d/external/emacs-deferred
    url = https://github.com/kiwanami/emacs-deferred.git
[submodule "emacs.d/external/emacs-epc"]
    path = emacs.d/external/emacs-epc
    url = https://github.com/kiwanami/emacs-epc.git
[submodule "emacs.d/external/emacs-jedi"]
    path = emacs.d/external/emacs-jedi
    url = https://github.com/tkf/emacs-jedi.git
[submodule "emacs.d/external/emacs-python-environment"]
    path = emacs.d/external/emacs-python-environment
    url = https://github.com/tkf/emacs-python-environment.git
[submodule "emacs.d/external/exec-path-from-shell"]
    path = emacs.d/external/exec-path-from-shell
    url = https://github.com/purcell/exec-path-from-shell.git
[submodule "emacs.d/external/find-file-in-project"]
    path = emacs.d/external/find-file-in-project
    url = https://github.com/technomancy/find-file-in-project.git
[submodule "emacs.d/external/git-gutter-plus"]
    path = emacs.d/external/git-gutter-plus
    url = https://github.com/nonsequitur/git-gutter-plus.git
[submodule "emacs.d/external/git-modes"]
    path = emacs.d/external/git-modes
    url = https://github.com/magit/git-modes.git
[submodule "emacs.d/external/iedit"]
    path = emacs.d/external/iedit
    url = https://github.com/victorhge/iedit.git
[submodule "emacs.d/external/magit"]
    path = emacs.d/external/magit
    url = https://github.com/magit/magit.git
[submodule "emacs.d/external/pbcopy"]
    path = emacs.d/external/pbcopy
    url = https://github.com/jkp/pbcopy.el.git
[submodule "emacs.d/external/popup-el"]
    path = emacs.d/external/popup-el
    url = https://github.com/auto-complete/popup-el.git
[submodule "emacs.d/external/pyvenv"]
    path = emacs.d/external/pyvenv
    url = https://github.com/jorgenschaefer/pyvenv
[submodule "emacs.d/external/yasnippet"]
    path = emacs.d/external/yasnippet
    url = https://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/external/company-mode"]
	path = emacs.d/external/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "emacs.d/external/mu4e-multi"]
	path = emacs.d/external/mu4e-multi
	url = https://github.com/fgallina/mu4e-multi.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "emacs.d/external/yaml-mode"]
	path = emacs.d/external/yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "emacs.d/external/eww-lnum"]
	path = emacs.d/external/eww-lnum
	url = https://github.com/m00natic/eww-lnum.git
[submodule "emacs.d/external/restclient"]
	path = emacs.d/external/restclient
	url = https://github.com/pashky/restclient.el.git
[submodule "emacs.d/external/json-reformat"]
	path = emacs.d/external/json-reformat
	url = https://github.com/gongo/json-reformat.git
[submodule "emacs.d/external/plantuml-mode"]
	path = emacs.d/external/plantuml-mode
	url = https://github.com/zwz/plantuml-mode.git
